#btn1{
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-outline-color: #ffffff;
    -fx-outline-width:2px;
    -fx-cursor: hand;
}

#btn1:hover{
    -fx-background-color: white;
    -fx-text-fill:  #393351;
}

#btn2{
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-text-fill: #393351;
    -fx-outline-color: #ffffff;
    -fx-outline-width:2px;
    -fx-cursor: hand;

}

#btn3{
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-text-fill: #393351;
    -fx-outline-color: #ffffff;
    -fx-outline-width:2px;
    -fx-cursor: hand;

}
#btn4{
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-text-fill: #393351;
    -fx-outline-color: #ffffff;
    -fx-outline-width:2px;
    -fx-cursor: hand;
}
#btn5{
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}





